<div class="row">
  <div class="login-form">
    <div class="logo">
      <img class="logoimg" src="/assets/easyCRMLogo.png" alt="easyCRM logo" />
    </div>
    <form>
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" />
      </div>

      <a class="btn btn-primary" href="/dashboard"> Submit</a>
      {{! <button type="submit" class="btn btn-primary">Submit</button> }}
    </form>
  </div>
</div>

<script src="./js/login.js"></script>