.login-form {
  width: 500px;
  margin: 0 auto;
}

.logoimg {
  margin: 0 auto;
  padding-left: 80px;
  padding-bottom: 70px;
  margin-top: 300px;
}

.nav-item {
  margin-right: 10px;
}

.nav-button {
  color: black;
  text-decoration: none;
}
.nav-button:hover {
  color: blue;
}

.nav-button:focus {
  color: black;
  font-weight: bold;
}

.nav {
  padding-top: 50px;
}

.dashboard-logo {
  padding-left: 20px;
}
.page-title {
  padding-top: 50px;
}

.card {
  border: solid red 1px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
}

.col {
  border: solid black 1px;
  display: flex;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .row {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}
